
.btn-icon {
    width: 180px;
    height: 40px;
    font-size: 14px;
    margin: 10px;
}

.btn-icon p {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}